@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.navEl {
    list-style-type: none;
    margin:0;
    overflow: hidden;
    padding-left: 20px;
    background-color: white;
    top: 0;
    width: 100%;
    font-family: 'Playfair Display', serif;
    height: 210px;
}


.login{
  font-family: 'Playfair Display', serif;
      margin-top: 62px;
      font-size: 18px;
      float: right;
      padding-left: 5px;
      margin-right: 25px;
      letter-spacing: 4px;
}

.about{
      font-family: 'Playfair Display', serif;
      margin-top: 62px;
      font-size: 18px;
      float: right;
      padding-left: 5px;
      padding-right: 15px;
      margin-right: 13px;
      letter-spacing: 4px;
}

.home{
      font-family: 'Playfair Display', serif;
      margin-top: 62px;
      font-size: 18px;
      float: right;
      padding-left: 5px;
      padding-right: 15px;
      margin-right: 13px;
      letter-spacing: 4px;
}

.signup {
  font-family: 'Playfair Display', serif;
  margin-top: 70px;
  font-size: 18px;
  float: right;
  padding-left: 5px;
  padding-right: 50px;
  margin-right: 65px;
}



li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #BF272C;
}
.logo{
  margin-top: 10px;
  margin-left: 60px;
  height: 225px;
  background-size: 45px 45px;
}

.topnav {
  height: 225px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5F5F5F;
    color: white;
    text-align: center;
    height: 260px;
}

.leftIcon{
  list-style-type: none;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  margin-left: 50px;
  height: 50px;
  color: white;
  float: left;
}

.top{
  height:175px;
  display: flex;
  flex-direction: row;
}

.bottom{
  height: 75px;
}

.findUs{
  margin-top: 20px;
  width: 300px;
}

.firstRow{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}

.opportunity{
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: left;
  margin-left: 30px;
}

.buttonMore{
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  border-color: white;
  color: white;
  font-size: 32px;
}
.button{
  margin-top: 60px;
}

.career{
  width: 300px;
  margin-top: 20px;
  margin-left: 180px;
}

.rowPlace{
  font-family: 'Playfair Display', serif;
  list-style-type: none;
  padding-left: 15px;
}

.findTitle{
  font-size: 32px;
  font-family: 'Playfair Display', serif;
  color: white;
}

.rowPlace{
  font-family: 'Open Sans', sans-serif;
  color: white;
}


.left{
  list-style-type: none;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 60px;
  height: 50px;
  color: white;
  float: left;
}

.left1{
  list-style-type: none;
  font-family: 'Playfair Display', serif;
  font-size: 17px;
  margin-top: 22px;
  margin-left: 40px;
  height: 50px;
  color: white;
  float: left;
}

.right1{
  list-style-type: none;
  padding-left: 5px;
  padding-right: 15px;
  margin-right: 13px;
  height: 40px;
  color: white;
  float: right;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #5F5F5F;
  color: white;
}

.fa-twitter {
  background: #5F5F5F;
  color: white;
}

.fa-instagram {
  background: #5F5F5F;
  color: white;
}

.demoBack{
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 600px;
  margin-bottom: 250px;
}

.pic{
  height:375px;
  width: 80%
}

.Artist{
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 400px;
    margin-bottom: 250px;
}

.bigasscontainer{
  display: flex;
  flex-direction: row;
}

.risingContemporaries{
  font-family: 'Open Sans', sans-serif;
  font-size: 55px;
}

.Line{
  margin-top: 140px;
}

.artImage{
  margin-left: 60px;

}
